@page "/BootstrapTheme"
@using Microsoft.Extensions.Localization
@using global::Abp.BootstrapTheme.Management.Localization
@inject IStringLocalizer<BootstrapThemeResource> L
@{
}
<h1>BootstrapTheme</h1>
<p>@L["SamplePageMessage"]</p>