@page
@using Microsoft.Extensions.Localization
@using Abp.BootstrapTheme.Management.Localization
@model Abp.BootstrapTheme.Management.Web.Pages.BootstrapTheme.IndexModel
@inject IStringLocalizer<BootstrapThemeResource> L
@{
}
<h1>BootstrapTheme</h1>
<p>@L["SamplePageMessage"]</p>
