<header class="navbar navbar-expand navbar-dark flex-column flex-md-row">
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link " href="index">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="introduction">文档</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="components">组件</a>
            </li>     
        </ul>
    </div>     
</header>
