@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider
<div class="layout-banner">
     <img class="layout-logo" src="@BrandingProvider.LogoUrl" />
     <div class="layout-title">
        <span>@BrandingProvider.AppName</span>
     </div>
 </div>
